<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dealnz-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://dealnz-001-site1.itempurl.com:8172/msdeploy.axd?site=dealnz-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>dealnz-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\dealnz-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DealsEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DIL\SQLEXPRESS;Initial Catalog=Deals;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DealsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DealsNZ.csdl|res://*/Models.DealsNZ.ssdl|res://*/Models.DealsNZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIL\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DealsDB" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5026.site4now.net;Initial Catalog=DB_A346C6_dealnz;Persist Security Info=True;User ID=DB_A346C6_dealnz_admin;Password=###R0h1t" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5037.site4now.net;Initial Catalog=DB_A346C6_dealnz;Integrated Security=True;User ID=DB_A346C6_dealnz_admin;Password=###R0h1t;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DealsDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5037.site4now.net;Initial Catalog=DB_A346C6_dealnz;User Id=DB_A346C6_dealnz_admin;Password=###R0h1t;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Deals" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Dil\SQLEXPRESS;Initial Catalog=Deals;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Deals_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Dil\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Deal" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=WIN81\SQLEXPRESS;Initial Catalog=Deals;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Deal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN81\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Deal-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Deals-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DealsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="DealsDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string="data source=sql5026.site4now.net;initial catalog=DB_A346C6_dealnz;persist security info=True;user id=DB_A346C6_dealnz_admin;password=###R0h1t;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>