@model IEnumerable<DealsNZ.Models.DealsModels.DealViewModel>

@{
    ViewBag.Title = "Home Page";
}


<div class="card grey lighten-3">
    <div class="card-content black-text">
        <span class="card-title">Online Deals</span>
        <div class="row">
            @foreach (var item in Model.Where(x => x.IsDealfree == false))
            {
                <div>
                    @Html.Partial("~/Views/Shared/DealViews/DealBox2.cshtml", item)
                </div>
            }
        </div>
    </div>
</div>
<div>
    <div class="card grey lighten-3">
        <div class="card-content black-text">
            <span class="card-title">Walk In Deals</span>
            <div class="row">

                @foreach (var item in Model.Where(x => x.IsDealfree == true))
                {
                    <div>
                        @Html.Partial("~/Views/Shared/DealViews/DealBox2.cshtml", item)
                    </div>
                }

            </div>

        </div>
    </div>
</div>