<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">Checking Payment</div>
            <div class="panel-body">
                @*<asp:Label runat="server" ID="paymentlbl" CssClass="h6" Text="We are verifiing payment, Please Wait "></asp:Label>*@

                <br />
                <div class="center-block" runat="server" id="paymenticon">
                   
                    <p><h1><span style="font-size:20px;color:#41AD49">Please Try Again</span></h1></p>
                </div>
            </div>
        </div>
    </div>
</div>
