<div class="row">
    <div class="col m6 s12">
        <div id="Register" class="card">
            @{Html.RenderPartial("RegisterUser", new DealsNZ.Models.AccountModels.Register());}
        </div>
    </div>

    <div class="col m6 s12">
        <div id="Login" class="card">
            @{Html.RenderPartial("LoginView", new DealsNZ.Models.AccountModels.Login());}
        </div>
    </div>

</div>