<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />




    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />

      <!-- REST API credentials -->
      <add name="clientId" value="AfOTa8JvYf8tbVdmYJ1DrCkEJSWrDbZU3pA8ym18EMs_4UfYnIim4U123F5yw1kpFPqRESxE--9LxEc-" />
      <add name="clientSecret" value="EBx5iLtYKyAIF0mbJJ86RWhpAv_bMET4lu1qsnynIJUOSrP6vp32iXQ8TNMhfJpFI2urokjTtE-fyuVt" />

      <!-- Classic API credentials -->
      <add name="account1.apiUsername" value="Betagymstyle-B_api1.gmail.com" />
      <add name="account1.apiPassword" value="T8ZF2BUGBKLTZ9FT" />
    </settings>

  </paypal>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="HostMail" value="parthking02@gmail.com" />
    <add key="Username" value="parthking02" />
    <add key="Password" value="asdfghjkl20" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules></httpModules>
    <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules></modules>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>
    <!--<add name="DealsDB" connectionString="metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIL\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DealsEntities" connectionString="metadata=res://*/Models.DealsNZ.csdl|res://*/Models.DealsNZ.ssdl|res://*/Models.DealsNZ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIL\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Deals" connectionString="metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN81\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DealsDB" connectionString="metadata=res://*/Models.DealsDB.csdl|res://*/Models.DealsDB.ssdl|res://*/Models.DealsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AAKASH\SQLEXPRESS;initial catalog=Deals;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>