
@model DealsNZ.Models.DealsModels.DealViewModel

<div class="col s12 m4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img src="@Url.Content(Model.DealImages)"  />
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Expire:@Model.ValidTill<i class="material-icons right">more_vert</i></span>
            <div class="right teal-text center" style="font-size:24px"><i class="material-icons" style="font-size:18px">attach_money</i>@Model.Price</div>
            <div class="left"><i class="material-icons" style="font-size:18px">attach_money</i>@Model.Discount</div>
            <br/>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
