<div class="col s12 m4">
    <div class="card">
        <div class="card-image">
            <img src="~/images/background1.jpg" class="materialboxed">
            <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
            <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
            </p>
            <div class="right teal-text center" style="font-size:24px"><i class="material-icons" style="font-size:18px">attach_money</i>23</div>
            <br />
        </div>
        
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
    </div>
</div>

