@model IEnumerable<DealsNZ.Models.DealsModels.DealViewModel>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        { 
                @Html.Partial("~/Views/Shared/DealViews/DealBox2.cshtml", item)            
        }
    </div>
</div>

